{% extends "FormArmorBundle::layout.html.twig" %}
{% block FormArmor_body %}
	<h2>TABLEAU DES FORMATIONS</h2>
	<table class="table">
		<thead>
		<tr>
			<th>Libell&eacute;</th>
			<th>Niveau</th>
			<th>Type</th>
			<th>Description</th>
			<th>Diplomante</th>
			<th>Dur&eacute;e</th>
			<th>Cout</th>
		</tr>
		</thead>
		<tbody>
			{% for formation in lesFormations %}
				<tr {# si le nombre de passages dans la boucle est pair #} {% if loop.index is even %} class="success" {% else %} class="info" {% endif %}>
					<td>{{formation.libelle}}</td>
					<td>{{formation.niveau}}</td>
					<td>{{formation.typeform}}</td>
					<td>{{formation.description}}</td>
					{% if formation.diplomante == 0 %}
						<td>Non</td>
					{% else %}
						<td>Oui</td>
					{% endif %}
					<td>{{formation.duree}}</td>
					<td>{{formation.coutrevient}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<ul class="pagination">
		{# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
		{% for p in range(1, nbPages) %}
			<li{% if p == page %} class="active"{% endif %}>
				<a href="{{ path('form_armor_formations', {'page': p}) }}">{{ p }}</a>
			</li>
		{% endfor %}
	</ul>
	
	<script>
		$(function() {
			$('#menu2').attr('class', 'active');
		});
	</script>
	
{% endblock %}